/*
DIEGO VALLEJO ZAPATA 
RIWI - HOPPER a.m.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri','arial';
}

#contacto {
    background-image: linear-gradient(rgba(201,215,245,0.3), rgba(201,215,245,0.3)),url(./images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

body {
    background: linear-gradient(rgba(248,250,255,0.85), rgba(248,250,255,0.85)), url(./images/background_2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.head {
    background-color: #313a41;
    width: 100%;
    position: sticky;
    top: 0;
    color: #e8f3ff;
    text-align: center;
    height: 100px;
}

.head h1 {
    padding-top: 7px;
    font-size: 26px;
    font-weight: bold;
}

.profesion {
    font-size: small;
    font-style: oblique;
    padding-top: 0px;
    
}

.head nav {
    padding-top: 10px;
    padding-bottom: 15px;
}

.head a {
    color: #e8edff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.head a:hover {
    color: #366bde;
    text-decoration: underline;
}

.form-register {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 110px;
    border-radius: 6px;
    font-family: 'calibri', 'arial';
    color: white;
}

.form-register h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}



#boton{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    border-radius: 6px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

#boton:hover {
    background-color: #0529ad;
    color: white;
}


.section-hero{
    position: relative;
}
.piePagina {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    height: 8%;
    background-color: #222b32;
    text-align: center;

}

.piePagina a {
    
    color: #366bde;
    padding: 40px;
    font-size: 18px;
    text-decoration: none;
}

.piePagina a:hover {
    text-decoration: underline;
    color: white;
}

.piePagina a img {
    width: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.btn-wspp {
    position: fixed;
    width: 50px;
    line-height: 55px;
    bottom: 100px;
    right: 40px;
    background: none;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    justify-content: left;

}

.content img {
    width: 400px;
    margin: 10px;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.content p {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: #1f53c5;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

td a{
    cursor: pointer;

}

h2{
    text-align: center;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-align: left;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}

li::before{
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}